.nonveg-title {
  text-align: center;
  margin-top: 20px;
  font-size: 34px;
  font-weight: bold;
}

.nonveg-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.item-img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
}

.add-btn {
  background-color: green;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.add-btn:hover {
  background-color: darkgreen;
}
